
.container{
    background-color: white;
    width: 100%;
}

.logo{
    height: 65px;
    vertical-align: middle;
    margin: 10px;
}

.logo_written{
    font-size: 50px;
    vertical-align: middle;
}
body{
    background-color: rgb(247, 248, 251);
    font-family: 'Roboto', sans-serif; ;
}

.container_mid{
    background-color: white;
    width: 1200px;
    height: 800px;
    margin-top: 50px;
    margin-left: 120px;
}
.lid{
    margin: 10px;
    padding: 20px 80px;
}

button{
    padding: 10px 10px;
    border-radius: 7px;
    color: rgb(238, 238, 232);
}

.task{
    background-color: rgb(51, 163, 255);
    border-color: rgb(53, 141, 255);
}

.section{
        background-color: white;
        border-color:rgb(238, 238, 232) ;
}
hr{
    border-top: 2px solid rgb(247, 248, 251);
}

.container_all {
    width: 90%;
    margin:auto;
}

.green_check{
    border: 1px solid rgb(117, 247, 229);
    color:rgb(117, 247, 229);
    font-size: 15px;
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 50%;
}

.breed{
    text-align: center;
    color: white; 
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
}       